html,
body{
	padding: 0;
	margin: 0;
}

button{
	display: block;
	margin: 10px;
}

.container{
	display: inline-grid;
	margin: 50px;

	grid-template-areas:
	". 		cols 	."
	"rows 	cells 	col-add"
	". 		row-add .";
}

#table{
	width: auto;
	height: auto;
	display: inline-grid;
	grid-template-columns: repeat(4, auto);
	grid-column-gap: 2px;
	grid-row-gap: 2px;
	border: 1px solid #48AAE7;
	padding: 2px;
	grid-area: cells;
	z-index: 5;
}

.cell{
	width: 50px;
	height: 50px;
	background-color: #48AAE7;
}

#col-vector{
	width: auto;
	height: auto;
	display: inline-grid;
	grid-template-columns: repeat(4, auto);
	grid-column-gap: 2px;
	grid-area: cols;
	margin: 2px 3px;
}

#row-vector{
	width: auto;
	height: auto;
	display: inline-grid;
	grid-template-rows: repeat(4, auto);
	grid-row-gap: 2px;
	grid-area: rows;
	margin: 3px 2px;
}

.del{
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 10px;
	vertical-align: center;	
	line-height: 50px;
	position: relative;
	background-color: #B20000;
	cursor: pointer;
	opacity: 0.3;
	visibility: hidden;
	transition: visibility 0.15s linear 0.05s,
				opacity 0.15s linear 0.05s,
				top 0.15s linear 0.05s,
				left 0.15s linear 0.05s,
				background-color 0.2s linear;
}

#col-vector > .del{
	top: 50px;
}

#row-vector > .del{
	left: 50px;
}

#col-vector > .visible, 
#row-vector > .visible{
	visibility: visible;
	opacity: 1;
	top: 0;
	left: 0;
}

.del:hover{
	background-color: #CA4C49;
}

.add{
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 10px;
	vertical-align: center;
	line-height: 50px;
	margin: 2px;
	background-color: #F3A500;
	transition: background-color 0.5s ease-in-out;
	cursor: pointer;
}

.add:hover{
	background-color: #F7C052;
}

#col-add{
	margin-top: 3px;
	grid-area: col-add;
}

#row-add{
	margin-left: 3px;
	grid-area: row-add;
}
